[submodule "UploadFiles"]
    path = module/UploadFiles
    url = https://github.com/verzeilberg/UploadFiles.git
[submodule "UploadImages"]
    path = module/UploadImages
    url = https://github.com/verzeilberg/UploadImages.git
